[submodule "submodules/YSDesignPattern"]
	path = submodules/YSDesignPattern
	url = ../YSDesignPattern.git
[submodule "submodules/YSDefine"]
	path = submodules/YSDefine
	url = ../YSDefine.git
[submodule "submodules/YSEvent"]
	path = submodules/YSEvent
	url = ../YSEvent.git
